*
{
	font-family: sans-serif;
}

body
{
	background-color: #333;
	background-image: url("/res/img/bg.png");
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
}

#wrapper
{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#wrapper #blurBG
{
	border-radius: 20px;
	background-image: url("/res/img/bgBlur.png");
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.modal
{
	border-radius: 10px;
	min-width: 695px;
	min-height: 389px;
	padding: 20px;
	background-color: rgba(235, 235, 235, .10);
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
}